# Firebase Configuration
FIREBASE_API_KEY=AIzaSyCUor4K2aux-AImj1jiRlI9ejs2SZ5iKxI
FIREBASE_AUTH_DOMAIN=peter-easton.firebaseapp.com
FIREBASE_PROJECT_ID=peter-easton
FIREBASE_STORAGE_BUCKET=peter-easton.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=159093650681
FIREBASE_APP_ID=1:159093650681:web:64b5a22f5e6cf3ea621e28
FIREBASE_MEASUREMENT_ID=G-2EKVQEB4JV

# Admin Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Peter123!
