# Firebase Admin SDK
FIREBASE_PROJECT_ID=peter-easton
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@peter-easton.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Cloudinary
CLOUDINARY_CLOUD_NAME=dci3a6zp4
CLOUDINARY_API_KEY=671863912971299
CLOUDINARY_API_SECRET=X4uZ6cm5F2I-GtRxomRatmP8_Uo

# Authentication
ADMIN_PASSWORD=Peter123!
JWT_SECRET=your_jwt_secret_here
